#space-shooter-ui {
    position: fixed;
    top: 0;
    right: 0;
    transition: opacity 2s ease;
    z-index: 2;
    opacity: 1;
    padding: 1em;
    text-align: right;
    color: #ff6347;
}

#space-shooter-ui.hidden {
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

