.game-menu {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    text-align: center;
    width: 100vmin;
    transition: all 4s ease;
    text-shadow: -1px 1px #ff6347, 1px 1px #ff6347, 1px -1px #ff6347, -1px -1px #ff6347;
}

h1 {
    font-size: 2em;
    margin: 0 0 0.5em 0;
}

p {
    margin: 1em 0;
}

a {
    color: inherit;
    text-decoration: underline;
}

::selection {
    background: rgba(255, 255, 255, 0.99);
    color: #ff6347;
}

button {
    font-family: inherit;
    font-size: 1em;
    background: none;
    background: white;
    color: #ff6347;
    border-radius: 0.3em;
    border: none;
    padding: 0.2em 0.6em;
    cursor: pointer;
    position: relative;
}

button:hover {
    background: #f5f5f5;
}

button:active {
    opacity: 0.8;
}

button:disabled {
    opacity: 0.5;
}

.game-active ~ .game-menu,
.game-inactive ~ #game-over-menu,
.game-over ~ #start-menu {
    opacity: 0;
    transform: translate(-50%, -70%);
    user-select: none;
    pointer-events: none;
}

#submit-dialog.hidden,
#high-scores.hidden {
    display: none;
}

#score-name {
    background: none;
    color: white;
    font-size: inherit;
    padding: 0.2em 0.6em;
    border: solid 1px;
    margin: 1em 0.5em;
    border-radius: 6px;
    text-shadow: -1px 1px #ff6347, 1px 1px #ff6347, 1px -1px #ff6347, -1px -1px #ff6347;
    box-shadow: -1px 1px #ff6347, 1px 1px #ff6347, 1px -1px #ff6347, -1px -1px #ff6347;
}

#score-name:disabled {
    opacity: 0.5;
}

input#score-name::placeholder {
    color: white;
    opacity: 0.5;
}

#high-score-list {
    margin-bottom: 1em;
}

.score-name,
.score-value {
    display: inline-block;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.score-name {
    margin-right: 0.5em;
}
